@model List<CartListDto>
@{
    ViewData["Title"] = "Index";
    decimal cartTotal = 0;
    int quantity = 0;
    decimal price = 0;

}

<section id="cart_items">
    <div class="container">
        @*<div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>*@
        <div class="cart_info col-sm-12">
            <table id="cartTable" class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Ürün Bilgileri</td>
                        <td class="description"></td>
                        <td class="price">Fiyat</td>
                        <td class="quantity">Miktar</td>
                        <td class="total">Toplam</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        @foreach (var cart in Model)
                        {
                            quantity = cart.Quantity;
                            price = cart.Price;
                            cartTotal += quantity * price;

                            decimal total = quantity * price;

                            <tr data-id="@cart.Id">
                                <td class="cart_product">
                                    <a href=""><img src="/img/@cart.ShowImageUrl" width="80" alt=""></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">@cart.ProductName</a></h4>
                                </td>
                                <td class="cart_price">
                                    <p>@cart.Price</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up" style="cursor:pointer" data-id="@cart.ProductId" title="@cart.ProductName"> + </a>
                                        <input class="cart_quantity_input" type="text" name="quantity" id="quantity-@cart.ProductId" value="@cart.Quantity" autocomplete="off" size="2">
                                        <a class="cart_quantity_down" style="cursor:pointer" data-id="@cart.ProductId" title="@cart.ProductName"> - </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price" id="totalPrice-@cart.ProductId">@total.ToString()₺</p>

                                </td>

                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" data-id="@cart.Id" href="#" title="@cart.ProductName"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td class="lead">Sepetinizde ürün bulunmamaktadır.</td></tr>
                    }

                </tbody>
            </table>
            @*@if (Model.Count() > 0)
                {
                    @foreach (var cart in Model)
                    {
                        quantity = cart.Quantity;
                        price = cart.Price;
                        cartTotal += quantity * price;

                        decimal total = quantity * price;
                        <div class="row p-2 mt-1">
                            <div class="col-sm-4 col-md-2 cart_product"> <a href=""><img src="/img/@cart.ShowImageUrl" width="80" alt=""></a></div>
                            <div class="col-sm-8 col-md-2 cart_description p-2">
                                <div class="col-8">
                                    <h4><a href="">@cart.ProductName</a></h4>
                                </div>
                                <div class="col-4 cart_price">
                                    <p>@cart.Price</p>
                                </div>
                            </div>
                           <div class="col-sm-2 col-2 cart_price p-2">

                            </div>
                            <div class="col-sm-6 col-md-3 cart_quantity_button p-2">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="@cart.Quantity" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                            <div class="col-sm-4 col-md-2 cart_total p-2">
                                <p class="cart_total_price">@total.ToString()₺</p>
                            </div>
                            <div class="col-sm-3 col-md-1 text-right cart_delete p-2">
                                <a class="cart_quantity_delete" data-id="@cart.Id" href="#"><i class="fa fa-times"></i></a>
                            </div>
                        </div>

                    }
                }*@

            @if (Model.Count > 0)
            {
                <div class="col-12 text-right mb-3 mr-3">
                    <a asp-controller="Order" asp-action="ConfirmOrder" class="btn btn-success btn-lg" title="">Sepeti Onayla</a>
                </div>
            }

        </div>


    </div>
</section> <!--/#cart_items-->
@section Scripts{
    <script>
        $().ready(function () {
            $(".cart_quantity_delete").click(function () {
                var cardDeleteDto = {
                    id: $(this).data("id"),
                }

                $.ShowConfirm('Dikkat', 'Ürün sepetten kaldırılacak. Devam etmek istiyor musunuz?', 'Evet', 'Hayır',
                    function () { $.AjaxDelete('/Cart/Delete/', cardDeleteDto) }
                )


            })
        })

    </script>

    <script>
        $().ready(function () {
            $(".cart_quantity_up").click(function () {
                var cartAddDto = {
                    Quantity: 1,
                    ProductId: $(this).data("id"),
                    Customer: "Ömer"
                };

                $.AjaxCartUpdate('/Cart/Add/', cartAddDto)
            });
        });

    </script>

    <script>
        $().ready(function () {
            $(".cart_quantity_down").click(function () {
                var cartAddDto = {
                    Quantity: -1,
                    ProductId: $(this).data("id"),
                    id: $(this).data("id"),
                    Customer: "Ömer"
                };

                $.AjaxCartUpdate('/Cart/Add/', cartAddDto)
            });
        });

    </script>
}