@model NewNotificationDto

<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">@Model.CountTotal</span>
    </a> 
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">@Model.CountTotal Yeni Bildirim</span>
        <div class="dropdown-divider"></div>
        <a asp-area="Admin" asp-controller="MailBox" asp-action="Index" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> @Model.MailCount yeni mesaj
            <span class="float-right text-muted text-sm">3 mins</span>
        </a>
        <div class="dropdown-divider"></div>
        <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="dropdown-item">
            <i class="fas fa-shopping-cart"></i> @Model.OrderCount yeni sipariş
            <span class="float-right text-muted text-sm">12 hours</span>
        </a>
        <div class="dropdown-divider"></div>
        <a asp-area="Admin" asp-controller="Comment" asp-action="Index" class="dropdown-item">
            <i class="far fa-comments"></i> @Model.CommentCount yeni yorum
            <span class="float-right text-muted text-sm">2 days</span>
        </a>
        @*<div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer"></a>*@
    </div>
</li>