@model List<ProductListDto>
@{
    ViewData["Title"] = "Index";
}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Ürünler</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Ürünler</a></li>
                    <li class="breadcrumb-item active">Ürün Listesi</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        @if (Model.Count > 0)
        {

            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"></h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->


                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Ürün Adı</th>
                                        <th>Kategori</th>
                                        <th>Fiyat</th>
                                        <th>Stok</th>
                                        <th>Ürün Resimleri</th>
                                        <th style="width:80px">Durumu</th>
                                        <th style="width:120px"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var product in Model)
                                    {
                                        <tr data-id="@product.Id">
                                            <td>@product.ProductName</td>
                                            <td>@product.CategoryName</td>
                                            <td>@product.Price</td>
                                            <td>@product.UnitInStok</td>

                                            <td>
                                                <a asp-area="Admin" asp-controller="Product" asp-action="ProductImageList" asp-route-id="@product.Id" class="btn btn-primary btn-sm">Ürün Resimleri</a>
                                            </td>
                                            <td> @Html.Raw(Html.StatusBadge(product.IsActive))</td>
                                            <td>

                                                <a asp-controller="Product" asp-action="Update" asp-route-id="@product.Id" class="btn btn-outline-warning btn-sm"> Düzenle </a>
                                                <a class="delete btn btn-outline-danger btn-sm" data-id="@product.Id">Sil</a>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->

                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        }
        else
        {
            <span>Kayıtlı ürün bulunamadı.</span>
        }
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section Scripts{
    <script>
        $().ready(function () {
            $(".delete").click(function () {
                var productDeleteDto = {
                    id: $(this).data("id")
                }

                $.ShowConfirm('Dikkat', 'Ürün tamamen silinecek, Devam etmek istiyor musunuz?', 'Evet', 'İptal', function () { $.AjaxDelete('/Admin/Product/Delete/', productDeleteDto) }
                );

            });
        });
    </script>
}